* {
  margin: 0;
  padding: 0;
}

:root {

  --bgcolorHeadAndFooter: #f74247;

  --bgcolorCardsAndFilters: #f9f7f5;

  --bgcolorBody: #ededed;

  --colorHeaderAndFooterIcons: rgb(240, 235, 235);

  --colorBlackDetailsPage: #242424;

  --bgcolorFilters : #f39e7d;

  --bgcolorLogButton : #50051a;

  --colorFilters: #333472;

  --colorLoginAndProfile: linear-gradient(to top, #f12711, #f5af19);
}

body {
  background-color: var(--bgcolorBody);

  /* width: 360px;
  height: 640px; */
}

